body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
}

.container {
  align-items: center;
  background: linear-gradient(
    to bottom,
    #179ed8 0%,
    #fefefe 36%,
    #fefefe 63%,
    #179ed8 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  max-width: 372px;
  width: 37%;
  margin: 0 auto;
}

.menu,
.beer-2columns,
footer {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.beer {
  display: flex;
  justify-content: flex-start;
  padding: 25px;
}

.page,
.col {
  width: 50%;
}

.left-column {
  padding-right: 25px;
}

.right-column {
  margin: 0 !important;
  padding-left: 25px;
}

.type {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0;
  width: 100%;
}

.title {
  border-bottom: 3px solid #000000;
  font-weight: 700;
  padding: 1.5px;
  text-align: center;
  width: auto;
}

.annotation {
  color: #606368;
  font-size: 18px;
  font-weight: 700;
}

.items-list {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 30px;
  padding: 25px 0;
}

.no-grap {
  grid-row-gap: 0 !important;
}

.food-item,
.drink-number {
  color: #000000;
}

.plate,
.drinks-item,
.beer-item,
.sub-drink,
.underlined-subtitle {
  font-weight: 700;
}

.drink-fancy-title {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;

}

.cocktails {
  background: linear-gradient(to bottom, #F6E7E7, #E7BDBC);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke: 2px #C0504D;
}

.frozen {
  color: #009DD9;
  text-shadow: -3px 4px #8097A6;
  -webkit-text-stroke: 3px #fff;
}

.shots {
  color: #BF0404;
  text-shadow: -3px 4px #486273;
  -webkit-text-stroke: 3px #fff;
}

.drinks-item {
  display: flex;
  flex-direction: column;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.drinks-item {
  font-size: 17px;
}

.sub-drink {
  font-size: 18px;
}

.beer-name {
  color: #0b5b72;
}

.drink {
  font-size: 20px;
  font-weight: 900;
}

.drink,
.frozen-drinks,
.sub-drink,
.red-note,
.underlined-subtitle,
.beer-item {
  color: #bf0426;
}

.frozen-drinks {
  font-size: 24px;
  font-weight: 900;
}

.drink-ingredents {
  color: #384001;
  line-height: 17px;
}

.liquor {
  color: #023059;
  font-weight: 800;
}

.br {
  display: block;
  margin-bottom: 12px;
}

.red-note {
  font-weight: 600;
  margin-top: 2px;
}

.beer-type {
  margin: 20px 0 0 0 !important;
}

.extra {
  margin: 0;
}

.beer-title {
  color: #083761;
  font-size: 30px;
  font-weight: 900;
  line-height: 30px;
  text-align: center;
}

.underlined-subtitle {
  font-size: 23px;
  text-decoration: underline;
}

.beer-2columns {
  width: 100% !important;
}

.beer-item {
  font-size: 19px;
  line-height: 19px;
  text-transform: uppercase;
  width: 100%;
}

.bucket {
  font-size: 21px !important;
  margin-top: 15px;
  line-height: 10px;
  text-align: center;
}

footer {
  margin-top: 2px;
  padding-bottom: 25px;
  width: 100%;
}

.footer-text {
  border-top: 3px dashed #000000;
  padding: 10px 25px 0 25px;
  width: 60%;
}

.footer-img {
  max-width: 372px;
  width: 37% !important;
  margin: 0 auto;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .container {
    background: #179ed8;
  }

  .logo {
    width: 70%;
  }

  .menu,
  footer {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .menu {
    background: none;
  }

  .page {
    background: linear-gradient(
      to bottom,
      #179ed8 0%,
      #fefefe 36%,
      #fefefe 63%,
      #179ed8 100%
    );
    display: flex;
    justify-content: center;
    width: auto;
  }

  .left-column,
  .right-column {
    padding: 0;
    width: 90%;
  }

  .beer-title {
    font-size: 26px;
  }

  .beer-type {
    margin: 2.5px 0 0 0 !important;
  }

  .underlined-subtitle {
    font-size: 19px;
  }

  .beer-item {
    font-size: 16px;
  }

  .drink-fancy-title {
    font-size: 30px;
    -webkit-text-stroke: 1.5px #C0504D;
  }

  .frozen, .shots {
    -webkit-text-stroke: 1px #fff;
  }

  .frozen {
    text-shadow: -2px 3px #8097a6;
  }

  .shots {
    text-shadow: -2px 3px #486273;
  }

  footer {
    background: #fefefe;
    margin: 0;
    width: 100%;
  }

  .footer-text {
    width: auto;
  }

  .footer-img {
    width: 100% !important;
  }
}

@media only screen and (min-device-width: 412px) and (max-device-width: 880px) and (orientation: landscape) {
  
  .beer-item {
    font-size: 13px;
  }

  .bucket {
    font-size: 16px !important;
  }

  .drink-ingredents {
    font-size: 14px !important;
  }

  .drink {
    font-size: 17px;
  }

  .drink-fancy-title {
    font-size: 44px;
    -webkit-text-stroke: 1.5px #C0504D;
  }

  .frozen, .shots {
    -webkit-text-stroke: 1px #fff;
  }

  .frozen {
    text-shadow: -2px 3px #8097a6;
  }

  .shots {
    text-shadow: -2px 3px #486273;
  }
}
