body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
}

.container {
  background: linear-gradient(
    to bottom,
    #179ed8 0%,
    #fefefe 36%,
    #fefefe 63%,
    #179ed8 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  max-width: 372px;
  width: 37%;
  margin: 0 auto;
}

.menu,
.beer,
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.beer {
  display: flex;
  justify-content: flex-start;
  padding: 25px;
}

.page,
.col {
  width: 50%;
}

.left-column {
  padding-left: 25px;
  padding-right: 25px;
}

.right-column {
  padding-left: 25px;
  padding-right: 25px;
}

.type {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0;
  width: 100%;
}

.title {
  border-bottom: 3px solid #000000;
  font-weight: 700;
  padding: 1.5px;
  text-align: center;
  width: auto;
}

.annotation {
  color: #606368;
  font-size: 18px;
  font-weight: 700;
}

.items-list {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 30px;
  padding: 25px 0;
}

.no-grap {
  grid-row-gap: 0 !important;
}

.food-item, .drink-number {
  color: #000000;
}

.plate {
  font-weight: 700;
}

.drinks-item {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.drink {
  font-size: 19px;
  font-weight: 900;
}

.drink,
.frozen-drinks,
.sub-drink,
.red-note,
.underlined-subtitle {
  color: #bf0426;
}


.frozen-drinks {
  font-size: 24px;
}

.sub-drink {
  font-size: 17px;
  font-weight: 700;
}

.drink-ingredents {
  color: #384001;
  line-height: 1;
}

.liquor {
  color: #023059;
}

.br {
  display: block;
  margin-bottom: 12px;
}

.red-note {
  
  font-weight: 600;
  margin-top: 2px;
}

.underlined-subtitle {
  font-size: 18px;
  font-weight: 800;
  text-decoration: underline;
}

footer {
  margin-top: 2px;
  padding-bottom: 25px;
  width: 100%;
}

.footer-text {
  border-top: 3px dashed #000000;
  padding: 10px 25px 0 25px;
  width: 60%;
}

.footer-img {
  max-width: 372px;
  width: 37% !important;
  margin: 0 auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .container {
    background: #179ed8;
  }

  .logo {
    width: 70%;
  }

  .menu,
  footer {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .menu {
    background: none;
  }

  .page {
    background: linear-gradient(
      to bottom,
      #179ed8 0%,
      #fefefe 36%,
      #fefefe 63%,
      #179ed8 100%
    );
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .left-column,
  .right-column {
    padding: 0;
    width: 90%;
  }

  footer {
    background: #fefefe;
    margin: 0;
    width: 100%;
  }

  .footer-text {
    width: auto;
  }

  .footer-img {
    width: 100% !important;
  }
}
