body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
}

.menu,
footer {
  display: flex;
  justify-content: space-between;
}

.menu {
  background: linear-gradient(to bottom, #199ed9 0%,#fefefe 36%,#fefefe 63%,#179ed8 100%);
}

.left-column,
.right-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-style: normal;
  padding-bottom: 5px;
  padding-top: 50px;
  width: 50%;
}
.left-column {
  padding-left: 25px;
  padding-right: 25px;
}

.right-column {
  padding-left: 25px;
  padding-right: 25px;
}

.plate-type {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0;
  width: 100%;
}

.title {
  border-bottom: 3px solid #000000;
  font-weight: 700;
  padding: 1.5px;
  text-align: center;
  width: auto;
}

.annotation {
  color: #606368;
  font-size: 18px;
  font-weight: 700;
}

.plates {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 30px;
  padding: 25px 0;
}

.no-grap {
  grid-row-gap: 0 !important;
}

.item {
  color: black;
}

.plate {
  font-weight: 700;
}

footer {
  padding-bottom: 25px;
  width: 100%;
}

.footer-text {
  border-top: 3px dashed #000000;
  padding: 10px 25px 0 25px;
  width: 60%;
}

.footer-img {
  max-width: 372px;
  width: 37% !important;
  margin: 0 auto;
}


  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .menu, footer {
    align-items: center;
    flex-direction: column;
  }

  .menu {background: none;}

  .page {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #199ed9 0%,#fefefe 36%,#fefefe 63%,#179ed8 100%);
  }

  .left-column, .right-column {
    padding: 0;
    width: 90%;
  }

  footer {
    width: 100%;
  }

  .footer-text {
    width: 90%;
  }

  .footer-img {
    width: 100% !important;
  }

}
